In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
# Reading the csv file and putting it into 'df' object.
df = pd.read_csv('/home/naveen/Downloads/insurance.csv')

In [9]:
df.head()

   type_id  desc_id  amount_rel   amount  Score
0        1        1           0  1000000      4
1        1        1           1  1500000      3
2        1        1           1  3500000      2
3        1        1           2  5000000      1
4        1        2           1  1000000      4

In [4]:
df.columns

Index(['age', 'sex', 'pain type', 'BP', 'cholestrol', 'fbs', 'resting ecg',
       'max heart rate', 'exercise angina', 'ST depression', 'ST slope',
       'flouroscopy coloured', 'thal', 'heart disease', 'Unnamed: 14'],
      dtype='object')

In [5]:
df = df.drop(['Unnamed: 14'], axis=1)

In [10]:
df.head()

   type_id  desc_id  amount_rel   amount  Score
0        1        1           0  1000000      4
1        1        1           1  1500000      3
2        1        1           1  3500000      2
3        1        1           2  5000000      1
4        1        2           1  1000000      4

In [11]:
# Putting feature variable to X
X = df.drop('Score',axis=1)

# Putting response variable to y
y = df['Score']

In [17]:
from sklearn.tree import DecisionTreeClassifier

# Fitting the decision tree with default hyperparameters, apart from
# max_depth which is 5 so that we can plot and read the tree.
dt_default = DecisionTreeClassifier(max_depth=10)
dt_default.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
# Importing required packages for visualization
from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydot, graphviz

# Putting features
features = list(X.columns[0:])
features

['type_id', 'desc_id', 'amount_rel', 'amount']

In [19]:
# If you're on windows:
# Specifing path for dot file.
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [20]:
# plotting tree with max_depth=3
dot_data = StringIO()  
export_graphviz(dt_default, out_file=dot_data,
                feature_names=features, filled=True,rounded=True)

graph = pydot.graph_from_dot_data(dot_data.getvalue())  
graph[0].write_pdf("insurance_op.pdf")

In [21]:
# the pdf with the tree will be written in this directory on your system
import os
os.getcwd()

'/home/naveen/Documents/learning/upgrad/knowledge-base/MachineLearning/decision trees'

You will find the output PDF file in your user folder under C drive, if you are using default directory for Anaconda.